In [1]:
import pymongo

In [ ]:
#Task For CRUD operation, create a directory which has fields like Name, Phone number, Place etc.,
#Task Insert the record into the collection.

In [2]:
from pymongo import MongoClient

In [7]:
client = pymongo.MongoClient('mongodb://localhost:27017/')

In [8]:
db =client["CRUD"]

In [18]:
my_col =db["crud_telephone"]

In [19]:
my_dict =[
         {"name":"abirami" ,"phone.no.":"99234524676","place":"Arupukottai"},
         {"name": "Bala","phone.no.":"944676547656","place":"peraiyur"},
         {"name":"Balaji","phone.no.":"6354373647","place":"Andipatti"},
         {"name":"Naveen","phone.no.":"787665757","place":"villapuram"},
         {"name":"Raja","phone.no.":"8227653744","place":"salem"},
         {"name":"yogesh","phone.no":"9923436445","place":"chennai"}
]

In [20]:
my_dict

[{'name': 'abirami', 'phone.no.': '99234524676', 'place': 'Arupukottai'},
 {'name': 'Bala', 'phone.no.': '944676547656', 'place': 'peraiyur'},
 {'name': 'Balaji', 'phone.no.': '6354373647', 'place': 'Andipatti'},
 {'name': 'Naveen', 'phone.no.': '787665757', 'place': 'villapuram'},
 {'name': 'Raja', 'phone.no.': '8227653744', 'place': 'salem'},
 {'name': 'yogesh', 'phone.no': '9923436445', 'place': 'chennai'}]

In [23]:
x=my_col.insert_many(my_dict)

In [30]:
for x in my_col.find():
    print(x)

{'_id': ObjectId('63663c042e4acafac3daeb62'), 'name': 'abirami', 'phone.no.': '99234524676', 'place': 'Arupukottai'}
{'_id': ObjectId('63663c042e4acafac3daeb63'), 'name': 'Bala', 'phone.no.': '944676547656', 'place': 'peraiyur'}
{'_id': ObjectId('63663c042e4acafac3daeb64'), 'name': 'Balaji', 'phone.no.': '6354373647', 'place': 'Andipatti'}
{'_id': ObjectId('63663c042e4acafac3daeb65'), 'name': 'Naveen', 'phone.no.': '787665757', 'place': 'villapuram'}
{'_id': ObjectId('63663c042e4acafac3daeb66'), 'name': 'Raja', 'phone.no.': '8227653744', 'place': 'salem'}
{'_id': ObjectId('63663c042e4acafac3daeb67'), 'name': 'yogesh', 'phone.no': '9923436445', 'place': 'chennai'}

In [52]:
#task to Modify the records, use the update_one() method. The update_one() method requires two arguments, query and update. 

my_col.update_one({"name":"Bala"},{"$set":{"name":"Murugan"}})
for x in my_col.find():
    print(x)

{'_id': ObjectId('63663c042e4acafac3daeb62'), 'name': 'abirami', 'phone.no.': '99234524676', 'place': 'Arupukottai'}
{'_id': ObjectId('63663c042e4acafac3daeb63'), 'name': 'Murugan', 'phone.no.': '944676547656', 'place': 'peraiyur'}
{'_id': ObjectId('63663c042e4acafac3daeb64'), 'name': 'Balaji', 'phone.no.': '6354373647', 'place': 'Andipatti'}
{'_id': ObjectId('63663c042e4acafac3daeb65'), 'name': 'Naveen', 'phone.no.': '787665757', 'place': 'villapuram'}
{'_id': ObjectId('63663c042e4acafac3daeb66'), 'name': 'Raja', 'phone.no.': '8227653744', 'place': 'salem'}
{'_id': ObjectId('63663c042e4acafac3daeb67'), 'name': 'yogesh', 'phone.no': '9923436445', 'place': 'chennai'}

In [54]:
#Delete the record, use delete_one() method. delete_one() requires a query parameter which specifies the document to delete.

my_col.delete_one({"place":"Arupukottai"})
for x in my_col.find():
    print(x)

{'_id': ObjectId('63663c042e4acafac3daeb63'), 'name': 'Murugan', 'phone.no.': '944676547656', 'place': 'peraiyur'}
{'_id': ObjectId('63663c042e4acafac3daeb64'), 'name': 'Balaji', 'phone.no.': '6354373647', 'place': 'Andipatti'}
{'_id': ObjectId('63663c042e4acafac3daeb65'), 'name': 'Naveen', 'phone.no.': '787665757', 'place': 'villapuram'}
{'_id': ObjectId('63663c042e4acafac3daeb66'), 'name': 'Raja', 'phone.no.': '8227653744', 'place': 'salem'}
{'_id': ObjectId('63663c042e4acafac3daeb67'), 'name': 'yogesh', 'phone.no': '9923436445', 'place': 'chennai'}